@import '../components/Container/Container';
@import '../components/Header/Header';
@import '../components/MovieCard/MovieCard';
@import '../components/MovieGrid/MovieGrid';
@import '../components/Logo/Logo';
@import '../components/ResultsFilter/ResultsFilter';
@import '../components/ResultsSort/ResultsSort';
@import '../components/SearchMovie/SearchMovie';
@import '../components/Footer/Footer';
@import '../components/CategoryLink/CategoryLink';


body {
  background: #555555;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border-radius: 6px;
  border: none;
  padding: 12px 20px;
}

.btn {
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
}
